.blogIndex {
  padding: 20px;
}

.previewAlertContainer {
  background-color: #fff4e5;
  padding: 10px;
  margin-bottom: 20px;
}

.previewAlert {
  text-align: center;
}

.noPosts {
  text-align: center;
  color: #999;
}

.pagination {
  display: flex;
  justify-content: center; /* Centraliza a paginação */
  align-items: center; /* Alinha verticalmente */
  gap: 3rem; /* Espaçamento entre elementos */
  margin-top: 4.5rem; /* Espaçamento acima da paginação */
}

.pagination button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #005bb5;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

/* Novo Estilo para o Carregamento */
.redirectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fixa o carregamento no centro da tela */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  z-index: 9999; /* Garante que o carregamento fique acima de outros conteúdos */
}

.ant-spin {
  font-size: 3rem; /* Tamanho maior do spinner */
  color: white; /* Cor do texto para o loading */
}

.ant-spin-dot {
  font-size: 5rem; /* Tamanho maior da animação de carregamento */
}

.blogSection {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.sectionHeader {
  margin-bottom: 20px;
}

.sectionHeader h2 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.carousel {
  margin-top: 20px;
}

.blogCard {
  max-width: 300px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.blogCard:hover {
  transform: scale(1.05);
}

.blogCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
