/* ------------------------- */
/* Global Styles */
/* ------------------------- */

.textBlock {
  max-width: 800px;
  margin: 5rem auto; /* Apenas margem superior e inferior */
  padding: 0 5%; /* Margem lateral responsiva, sem afetar a margem superior/inferior */
  line-height: 1.6;
  text-align: left;
}

/* ------------------------- */
/* Headers */
/* ------------------------- */

.header {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  color: #111; /* Deixando o título um pouco mais escuro */
  font-weight: bold;
}

.slug_header {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  color: #111; /* Deixando o título um pouco mais escuro */
  font-weight: bold;
}

.subHeader {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #111;
}

/* ------------------------- */
/* Text and Author Info and image */
/* ------------------------- */

.textBlock div {
  font-size: 1rem;
  color: #111; /* Texto mais visível sem ser muito escuro */
  padding: 0; /* Certifique-se de que os divs internos não têm padding indesejado */
  margin: 0;
}

.imageContainer {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 2rem; /* Ajustando a margem superior */
  margin-bottom: 3rem; /* Ajustando a margem inferior */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para a imagem */
.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuste para cobrir o espaço sem distorcer */
}

/* ------------------------- */
/* Horizontal Separator */
/* ------------------------- */

.hrSeparator {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* ------------------------- */
/* Media (Images & Videos) */
/* ------------------------- */

.mediaWrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%; /* Aspect Ratio 16:9 */
}

.mediaWrapper img,
.mediaWrapper video {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* ------------------------- */
/* Quotes */
/* ------------------------- */

.quoteBlock {
  font-style: italic;
  border-left: 4px solid #888;
  padding-left: 20px;
  margin: 20px 0;
  color: #555;
}

/* ------------------------- */
/* Bookmarks */
/* ------------------------- */

.bookmark {
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.bookmarkLink {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: center;
}

.bookmarkImage {
  width: 80px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

/* ------------------------- */
/* Spin Styles */
/* ------------------------- */

/* Novo Estilo para o Carregamento */
.redirectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fixa o carregamento no centro da tela */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  z-index: 9999; /* Garante que o carregamento fique acima de outros conteúdos */
}

.ant-spin {
  font-size: 3rem; /* Tamanho maior do spinner */
  color: white; /* Cor do texto para o loading */
}

.ant-spin-dot {
  font-size: 5rem; /* Tamanho maior da animação de carregamento */
}

/* ------------------------- */
/* Responsive Styles */
/* ------------------------- */

@media (max-width: 1024px) {
  .textBlock {
    padding: 0 8%; /* Aumentando o espaçamento lateral em telas médias */
    margin: 30px 0; /* Margem superior e inferior */
  }

  .imageContainer {
    height: 300px; /* Ajuste a altura da imagem para telas médias */
    margin-top: 1.5rem; /* Menor espaçamento superior */
  }
}

@media (max-width: 768px) {
  .slug_header {
    font-size: 2rem;
  }

  .textBlock {
    padding: 0 10%; /* Mais espaçamento em telas menores */
    margin: 20px 0; /* Ajustando a margem superior e inferior */
  }

  .textBlock div {
    font-size: 0.95rem;
  }

  .hrSeparator {
    margin: 20px 0;
  }

  .imageContainer {
    height: 250px; /* Diminuindo a altura da imagem */
    margin-top: 1.5rem; /* Ajuste na margem superior */
  }
}

@media (max-width: 480px) {
  .textBlock {
    padding: 0 15%; /* Ainda mais margem para telas pequenas */
    margin: 15px 0; /* Margem superior e inferior menor para telas muito pequenas */
  }

  .slug_header {
    font-size: 1.8rem;
  }

  .imageContainer {
    height: 200px; /* Imagem ainda menor em telas muito pequenas */
    margin-top: 1rem; /* Menos margem superior */
  }
}
